@import 'parameters';
@import 'mediaqueries';

#banner{
    @extend %align-center;
    margin: 1rem 0 0 0;
    justify-content: space-evenly;

}
.banner{
    flex-basis: 49%;
    padding: 25px;
    cursor: pointer;
    &:first-of-type{
        background-image: url(../img/slide3.png);
        background-position-x: 50%;
        background-size: cover;
        background-position-y: 50%;
    }
    &:nth-of-type(2){
        background-image: url(../img/slide1.png);
        background-position-x: 60%;
        background-size: cover;
        background-position-y: 45%;
    }
    height: 150px;
    &_text{
        flex-basis: 50%;
        a{
            text-decoration: none;
        }
        p{
            text-align: end;
            color: $light;
            display: block;
            align-items: center;
            font-weight: bold;
            font-size: 1.4em;
        }
    }
    &_img{
        flex-basis: 50%;
    }
}
.pageselector{
    margin: 20px 0;
    ul{
        list-style: none;
        text-align: center;
        li{
            display: inline-block;
            margin: 0 10px 0 0;
            a{
                display: block;
                padding: 10px 20px;
                color: $light;
                background-color: $lime;
                text-decoration: none;
                font-family: $rlw;
                font-weight: bold;
                border-radius: 4px;
                transition: all 0.3s ease-in-out;
                &:hover{
                    background-color: $orangeRed;
                }
                &.active{
                    background: $dark;
                    font-weight: bold;
                }
            }
        }
    }
    p{
        text-align: center;
        margin: 1rem 0 0 0;
    }
}
.wthero{
    background-image: url('../img/herowtimg.jpg');
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    height: 30vh;
    margin: 2rem 0rem;
    transition: all 0.3s ease;
    @include tablet {
        background-attachment: scroll;
        height: 100%;
        filter: grayscale(0.2);
    }
    &_title {
        @include tablet {
            font-size: 3.5rem;
        }
        @include mobile {
            font-size: 2rem;
        }
        font-size: 2rem;
        font-family: $rlw;
        color: $light;
        text-align: start;
        justify-content: center;
        align-items: center;
        span {
            font-weight: 800;
        }
    }
    &_head{
        font-size: 2rem;
        font-family: $rlw;
        color: $light;
        text-align: center;
        justify-content: center;
        align-items: center;
        span{
            text-transform: uppercase;
            font-weight: bold;
            color: $lime;
            font-family: $pmnt;
        }
    }
}
.look{
    &_title{
        text-align: center;
        font-size: 3rem;
        @include tablet {
            font-size: 2rem;
        }
        font-family: $pmnt;
        font-weight: lighter;
        display: block;
        margin: 0 auto;
        text-shadow: 0 0 80px rgba(255,
        255,
        255,
        .5);
        background: url(../img/animated-text-fill.png) repeat-y;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-animation: aitf 80s linear infinite;
        -webkit-transform: translate3d(0,
        0,
        0);
        -webkit-backface-visibility: hidden;
    }

    &_show{
        @extend %align-center;
        flex-direction: row;
        &-left, &-right{
            flex-basis: 50%;
            height: 50vh;
            margin: 2rem 0;
            background-image: url(../img/adidaswtleft.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            background-attachment: scroll;
        }
        &-right{
            background-image: url(../img/adidaswtright.jpg);
        }
        &-btn{
            width: 115px;
            display: block;
            margin: 20% auto;
            @include tablet{
                margin: 50% auto;
            }
            button{
                color: $light;
                outline: none;
                padding: 15px;
                background: none;
                cursor: pointer;
                border: 3px solid $light;
                -webkit-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;
                font-size: 1.5rem;
                text-transform: uppercase;
                &:hover{
                    color: $dark;
                    background: $light;
                }
            }
        }
    }
    &_products-1, &_products-2{
        display: none;
    }
    &-closer{
        color: $orangeRed;
        cursor: pointer;
        padding: 5px;
        border: 2px solid $orangeRed;
        border-radius: 5px;
        transition: all 0.3s ease-in-out;
        width: 55px;
        display: block;
        margin: auto;
        &:hover{
            color: $light;
            background-color: $orangeRed;
        }
    }
}
.brandimage{
    height: 50vh;
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    &.adidas{
        background-image: url(../img/adidascollection.jpg);
    }
    &.puma{
        background-image: url(../img/pumacollection.jpg);
    }
    &.nike{
        background-image: url(../img/nikecollection.png);
    }
    &.everlast{
        background-image: url(../img/everlastcollection.jpg);
    }
}
.brandbanner{
    background-color: $dark;
    @extend %align-center;
    flex-direction: row;
    padding: 2rem;
    &_logo{
        flex-basis: 50%;
        img{
            display: block;
            margin: auto;
        }
    }
    &_text{
        flex-basis: 50%;
        font-family: $rlw;
        font-size: 2em;
        font-style: oblique;
        color: $light;
        text-align: center;
    }
}
.clothes_banner{
    margin-bottom: 2rem;
    &-img{
        img{
            height: 25vh;
            width: 100%;
            object-fit:cover;
            &#shoesbanner, &#topsbanner{
                object-position: bottom;
            }
        }
        filter: grayscale(0.8);
    }
    &-title{
        position: absolute;
        top: 15%;
        left: 42.5%;
        transform: translate(-25%, -25%);
        h1{
            font-family: $pmnt;
            font-size: 6rem;
            @include mq1240 {
                font-size: 5rem;
            }
            @include tablet {
                font-size: 3rem;
            }
            text-align: center;
            color: $light;
            filter: grayscale(0) !important;
            span{
                color: $lime;
            }
        }
    }
}